# Virtual Environment
brain-env/

# Dataset
data/
dataset/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp